# ===========================================
# Конфигурация подключения к Redis
# ===========================================
# Для запуска через Docker Compose внутри контейнеров
REDIS_HOST=redis
REDIS_PORT=6379

# ===========================================
# Настройки Flask
# ===========================================
# Порт, на котором будет доступно API
FLASK_PORT=5000

# ===========================================
# Настройки ИИ и хранения
# ===========================================
# Путь к файлу модели относительно папки проекта
MODEL_PATH=EDSR_x2.pb

# Время жизни обработанного файла в Redis (в секундах)
# 3600 секунд = 1 час. После этого файл удалится из памяти автоматически.
IMAGE_TTL=3600